

@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

.content{
    max-width: 1600px;
}

/* header css */
header{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 74px;
    background-color: #BCEDF6;
    font-weight: 600;
    font-family: kavivanar, Arial, Helvetica, sans-serif;
    border-bottom: solid 2px #320E3B;;
}


header nav a{
    padding: 26px;
    text-decoration: none;
}

header nav a:hover{
    background-color: #6B7FD7;
    color: white;
    text-shadow: 4px 0 3px #320E3B;
}

header #logo{
    padding-right: 4em;
}

/* home body */

main{
    max-width: 1000px;
    text-align: left;
    font-family: kavivanar, Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    margin: 0 auto;
    text-indent: 3em;
}

#home-title{
    text-align: center;
}

#profile{
    float: right;
    margin: 1.5em;
}

#drawing{
    float: left;
    margin: 1.5em;
    margin-left: 0;
}

#resume{
    display: block;
    box-shadow: 0 0 20px #320E3B;
    margin: 40px auto 40px auto;
}






/* footer css */

footer{
    display: grid;
    width: 100%;
    height: 110px;
    background-color: #BCEDF6;
    font-weight: 600;
    font-family: kavivanar, Arial, Helvetica, sans-serif;
    grid-template-columns: 3fr 9fr 1fr 1fr 1fr;
    padding-top: 40px;
    justify-content: center;
    justify-items: center;
    border-top: solid 2px #320E3B;
}

footer img{
    margin: 10px;
    transition: transform .15s;
    border-radius: 20px;
}

footer img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px black;
}

footer a{
    text-decoration: none;
    -top: 10px;
}

footer a:hover{
    color: white;
    text-shadow: 0 0 5px #320E3B;
    text-decoration: underline;
}

/* POEMS PAGE */

.poems-main{
    font-size: 1em;
}

#poems-hero{
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 3em;
    text-shadow: black 4px 4px;
}

#poems-title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog{
    text-align: left;
    text-indent: 0;

}

.poems{
    background-color: #BCEDF6;
    text-align: center;
    position: relative;
    text-align: center;
    line-height: 1.4em;
    padding: 20px;
}

.purple{
    background-color: #320E3B;
    color: white;
}

#holy-ghost h2{
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 50%;
    font-weight: 800;
    color: white;
}

#prom{
    position: relative;
    text-align: center;
}

#prom h2{
    z-index: 1;
    position: absolute;
    left: 55%;
}

#flag{
    background-image: url("/wdd130/final-project/images/textback.jpg");
}

#daddysgirl{
    margin-bottom: 40px;
}

#daddysgirl h2{
    margin-top: -30px;
}